.formItem {
  margin-bottom: 2rem;
}

.label {
  margin-bottom: 1rem;
  display: block;
}

.input {
  border: 0.1rem solid var(--primary);
  border-radius: 0.8rem;
  display: block;
  width: 100%;
  padding: 1rem 1.2rem;
}
